* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .label-wrapper {
      width:200px
  }

  .states {
      margin-bottom: 10px;
  }

  #results-list {
      list-style: none;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }